extends layout
block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | WiFi Buddy
          small &nbsp; Yakınınızda WiFi Hizmeti sunan mekanları bulun!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan') Starbucks
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 100m
           p.address Centrum Garden AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Atıştırmalıklar
              | &nbsp;
              span.label.label-warning Ücretsiz WiFi
              | &nbsp;
    .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan') Özsüt
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 75m
           p.address Özkanlar
           p
              span.label.label-warning Sütlü Tatlılar
              | &nbsp;
              span.label.label-warning Sıcak İçecekler
              | &nbsp;
              span.label.label-warning Güvenli WiFi
              | &nbsp;
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan') İnan Dondurma
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 40m
           p.address Fatih Sultan Mehmet AVM
           p
              span.label.label-warning Diyet Dondurma
              | &nbsp;
              span.label.label-warning Soğuk İçecekler
              | &nbsp;
              span.label.label-warning Ücretsiz WiFi
              | &nbsp;
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan') Hasan Usta Kebap 
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 500m
           p.address Mimar Sinan
           p
              span.label.label-warning Süper Kebap
              | &nbsp;
              span.label.label-warning Adana Şalgamı
              | &nbsp;
              span.label.label-warning Şifresiz WiFi
              | &nbsp;
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan') Safir Kantin
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 150m
           p.address Yavuz Sultan Selim Mahallesi
           p
              span.label.label-warning Ortam Güzel
              | &nbsp;
              span.label.label-warning Unlu Mamüller
              | &nbsp;
              span.label.label-warning Ücretsiz WiFi
              | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Oturacak bir yer ve ücretsiz WiFi mı arıyorsunuz? WiFi Buddy yakınınızdaki ücretsiz WiFi hizmeti sunan yerleri listeler.